name: Run e2e scripts

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to test'
        required: true
        default: 'main' # Set a default branch
      run_additional_scripts:
        description: 'Full path to script to run (e.g., scripts/basic/run_tb.py)'
        required: false
        default: 'None'
        type: string
      skip_default_scripts:
        description: 'Skip default scripts (tb and malnutritions sims) if set to true'
        required: true
        default: false
        type: boolean
jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']

    steps:
    - name: Checkout tbsim repository
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.inputs.branch }}
        fetch-depth: 1

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    # Step 1.2: Install tbsim
    - name: Install tbsim
      run: |
        ls -l
        pip install -e .
        pip freeze      
          
    # Step 2.1: Checkout starsimhub/starsim repository
    - name: Checkout starsimhub/starsim repository
      uses: actions/checkout@v3
      with:
        repository: 'starsimhub/starsim'
        path: 'starsim'
    
    # Step 2.2: Install starsim
    - name: Install starsim with the latest checked in code in Main branch
      run: |
        cd starsim
        pip install -e .
        pip freeze

    # Step 3.1 Run custom scripts
    - name: Run requested script
      if: ${{ github.event.inputs.run_additional_scripts != 'None' }}
      run: |
        SCRIPT_PATH="${{ github.event.inputs.run_additional_scripts }}"
        echo "Starting requested script: $SCRIPT_PATH"
        
        # Check if script exists
        if [ ! -f "$SCRIPT_PATH" ]; then
          echo "Error: Script not found at path: $SCRIPT_PATH"
          echo "Current directory: $(pwd)"
          echo "Available files:"
          ls -la
          exit 1
        fi
        
        # Run the script
        python "$SCRIPT_PATH"

    # Step 3.2 Run basic scripts
    - name: Run scripts to validate simulations with Malnutrition and TB
      if: ${{ github.event.inputs.skip_default_scripts==false }}  
      run: |
        python scripts/general/run_tb.py
        python scripts/general/run_malnutrition.py
        
        
      

