name: Run tests
on:
  pull_request:
    branches:
      - '**'
    types:
      - opened
      - synchronize # Triggers on any update to the pull request, like adding commits

  push:
    branches:
      - '**'
    paths:
      - 'tbsim/**'
      - 'scripts/**'
      - 'tests/**'
      - '.github/workflows/**'

concurrency:
  group: ${{ github.ref }}-tests
  cancel-in-progress: true # Cancels any in-progress runs for the same branch or PR

jobs:
  run-tests:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' || contains(github.event.head_commit.message, 'run tests')
    strategy:
      matrix:
        python-version: ['3.12', '3.11'] # Add multiple Python versions

    steps:
      - name: Checkout tbsim repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install tbsim
        run: |
          ls -l
          pip install -e .
          pip freeze      

      - name: Install test requirements
        working-directory: ./tests
        run: |
          pip install -r requirements.txt
          pip freeze

      - name: Run Tests
        working-directory: ./tests
        run: pytest test_*.py -n auto --durations=0 --junitxml=test-results.xml
      
      - name: Upload test results as artifact
        uses: actions/upload-artifact@v4
        if: always() # Ensure this step runs whether tests pass or fail
        with:
          name: test-results-${{ matrix.python-version }}
          path: tests/test-results.xml
